[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==24.4.2"
pytest = "==8.2.2"
coverage = "==7.5.3"

[packages]
pytest-bug = { editable = true, path = "." }

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true

[scripts]
tests = "bash -c 'coverage run --source=./pytest_bug -m pytest ./tests && coverage report -m'"
black = "black --line-length=120 pytest_bug"
